body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #98c7a6; 
    height: 100%;
    width: 100%;
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử con */
    flex-direction: column; /* Sắp xếp các phần tử con theo cột */
}

.container {
    flex: 1; /* Chiếm không gian còn lại trong flex container */
    line-height: 1cm;
    width: 80%;
    margin: auto; /* Căn giữa container */
    background-color: #98c7a6;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

h1 img {
    width: 20cm; /* Chiều rộng của hình ảnh trong thẻ h1 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3 {
    text-align: center;
    color: red; 
    font-style: italic;
    font-weight: bold;
    font-size: 500%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

p {
    text-indent: 5%; /* Thụt đầu dòng cho đoạn văn */
}

.overview, .rules {
    background: #709c3d;
    padding: 20px; /* Khoảng cách bên trong */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.display {
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử con */
    justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
}

.links {
    display: flex;
    justify-content: space-between; /* Căn các phần tử con về hai bên */
    position: fixed; /* Đặt phần tử cố định, phần tử sẽ không di chuyển khi bạn cuộn trang */
    bottom: 20px; /* Cách đáy trang 20px */
    left: 50%; /* Đặt ở giữa theo chiều ngang */;
    transform: translateX(-50%); /* Điều chỉnh vị trí để căn giữa chính xác */
    width: 80%; 
}

.icon {
    text-align: center;
    cursor: pointer; /* Con trỏ chuột thay đổi khi di chuột qua */
}

.icon img {
    width: 100px;
    height: 100px;
}

.icon span {
    display: block; /* Hiển thị span như một khối */
    margin-top: 10px; /* Khoảng cách phía trên so với hình */
    color: black;
}

a {
    text-decoration: underline;
    color: black;
    bottom: 10px; 
}

@media only screen and (max-width: 1170px) {
    /* Điều chỉnh các phần tử cho iPhone 12 Pro */
    .container {
        width: 90%; /* Chiều rộng của container cho màn hình nhỏ */
    }

    h1 img {
        width: 100%; /* Gọi lại */
    }

    h3{
        line-height: 1;
    }

    .overview {
        margin-bottom: 170px; /* Khoảng cách dưới của overview */
    }

    .display {
        margin: 70px; /* Khoảng cách xung quanh */
        flex-direction: column; /* Sắp xếp các phần tử con theo cột */
        align-items: normal; /* Căn chỉnh các phần tử con theo chiều dọc */
    } 
}



@media only screen and (max-width: 820px) and (max-height: 1180px) {
    /* Điều chỉnh cho thiết bị có kích thước màn hình Ipad Air 820x1180 */
    .container {
        width:90%; /* Điều chỉnh chiều rộng container cho màn hình nhỏ */
    }

    h1 img {
        width: 100%; /* Gọi lại */
    }

    h3 {
        font-size: 70px; /* Điều chỉnh kích thước font cho h3 */
    }


    h2{
        font-size: 50px;
    }

    p, .rules {
        font-size: 30px;
        line-height: 1.5;
    }

    a {
        font-size: 25px;
    }
}